.carrosel {
  text-align: center;
  color: white;
  position: sticky;
  width: 100%;
}

.back-ballon {
  margin: 15px 0px;
  padding: 1px 25px;
  background: rgba(0, 0, 0, 0.5);
  width: 200px;
  text-align: center;
  border-radius: 5em;

  & p {
    font-size: 11px;
  }
}

.container-ballon {
  display: block;
}

.hero-text-overlay {
  position: absolute;
  top: 15px;
  left: 60px;
  z-index: 10;
  width: 75%;
  height: 100%;
  color: rgb(255, 255, 255);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: left;
  text-align: center;
  margin: 0 auto;
}

.content-text {
  font-size: 17px;
  text-align: left;
  margin: 0 auto;
}


.carrosel-container {
  margin: 0px auto;
  border: none;
  width: 100%;
}

.carousel-image {
  margin: 0 auto;
  padding: 0;
  width: 100%;
  max-width: 100%;
  overflow: hidden;
  object-fit: cover;
  filter: brightness(0.4);
  height: 32em;
}

.hero-text {
  margin-top: 0px;
  font-weight: bold;
  margin-bottom: 0.5rem;
}

.hero-subtext {
  font-size: 14px;
  margin: 0;

  & span {
    font-size: 18px;
    font-weight: 200;
  }
}

.effect {
  top: 0;
  left: 0;
  width: 100%;
  height: 32em;
  position: absolute;
  background: linear-gradient(to bottom,
      rgb(255, 255, 255) 0%,
      rgb(211, 250, 255) 50%,
      rgba(0, 183, 255, 1) 100%);
  z-index: 5;
  opacity: 25%;
}

@media (min-width: 320px) {
  .hero-text-overlay {
    width: 75%;
  }

  .hero-text {
    margin-bottom: 25px;
    font-size: 19px;
  }


  .hero-subtext {
    font-size: 12px;
    margin-bottom: 20px;

    & span {
      font-size: 18px;
      font-weight: 200;
    }
  }


  .carousel-image {
    margin: 0 auto;
    padding: 0;
    width: 100%;
    max-width: 100%;
    overflow: hidden;
    object-fit: cover;
    filter: brightness(0.1);
    height: 35em;
  }

  .effect {
    height: 35em;
  }
}

/* Dispositivo G */
@media (min-width: 375px) {
  .hero-text-overlay {
    width: 75%;
  }

  .hero-text {
    margin-bottom: 25px;
    font-size: 22px;
  }


  .hero-subtext {
    font-size: 12px;
    margin-bottom: 20px;

    & span {
      font-size: 18px;
      font-weight: 200;
    }
  }


  .carousel-image {
    margin: 0 auto;
    padding: 0;
    width: 100%;
    max-width: 100%;
    overflow: hidden;
    object-fit: cover;
    filter: brightness(0.1);
    height: 35em;
  }

  .effect {
    height: 35em;
  }
}

@media (min-width: 768px) {
  .back-ballon {
    margin: 15px 0px;
    padding: 1px 25px;
    background: rgba(0, 0, 0, 0.5);
    width: 200px;
    text-align: center;
    border-radius: 5em;

    & p {
      font-size: 13px;
    }
  }


  .hero-text-overlay {
    width: 75%;
  }

  .hero-text {
    margin-bottom: 25px;
  }


  .hero-subtext {
    font-size: 16px;
    margin-bottom: 20px;

    & span {
      font-size: 18px;
      font-weight: 200;
    }
  }


  .carousel-image {
    margin: 0 auto;
    padding: 0;
    width: 100%;
    max-width: 100%;
    overflow: hidden;
    object-fit: cover;
    filter: brightness(0.1);
    height: 35em;
  }

  .effect {
    height: 35em;
  }
}

@media (min-width: 1280px) {
  .back-ballon {
    margin: 15px 0px;
    padding: 1px 25px;
    background: rgba(0, 0, 0, 0.5);
    width: 220px;
    text-align: center;
    border-radius: 5em;

    & p {
      font-size: 14px;
    }
  }


  .hero-text-overlay {
    position: absolute;
    z-index: 10;
    top: 200px;
    left: 120px;
    width: 71%;
    color: rgb(255, 255, 255);
    display: flex;
    justify-content: left;
    align-items: left;
    margin: 0 auto;
  }

  .carousel-image {
    margin: 0 auto;
    padding: 0;
    max-width: 100%;
    overflow: hidden;
    object-fit: cover;
    filter: brightness(0.4);
    height: 45em;
  }

  .hero-text {
    font-size: 35px;
    margin-bottom: 25px;
  }


  .hero-subtext {
    font-size: 25px;
    margin-bottom: 20px;

    & span {
      font-size: 18px;
      font-weight: 200;
    }
  }

  .effect {
    height: 45em;
  }

}

@media (min-width: 1920px) {
  .hero-text-overlay {
    position: absolute;
    z-index: 10;
    top: 200px;
    left: 120px;
    width: 82%;
    color: rgb(255, 255, 255);
    display: flex;
    justify-content: left;
    align-items: left;
    margin: 0 auto;
  }
}