.container-whatsapp {
    position: fixed;
    z-index: 99999;
    text-align: center;
    align-items: center;
    display: flex;
    bottom: 3em;
    right: 40px;
    cursor: pointer;
}

.content-whatsapp {
    background: rgb(55, 167, 20);
    border-radius: 50%;
    padding: 15px;
    display: flex;
    align-items: center;
}

.content-whatsapp a {
    text-decoration: none;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: transform 0.4s ease-in-out;
}

.content-text-type {
    margin-right: 10px;
    background: white;
    padding: 10px 30px;
    border-radius: 5px;
    font-size: 14px;
    text-align: left;
}

.animated-item {
    background-color: #4a90e2;
    color: white;
    padding: 10px;
    margin: 10px 0;
    border-radius: 5px;
    transition: transform 0.5s ease-in-out;
}

.container.moved .animated-item {
    transform: translateY(-50px);
}

.rotated {
    transform: rotate(180deg);
}

.content-whatsapp {
    background: rgb(55, 167, 20);
    border-radius: 50%;
    padding: 15px;
    display: flex;
    align-items: center;
    transition: transform 0.5s ease-in-out;
    z-index: 99999;
}

.content-shape {
    position: fixed;
    z-index: 1;
    cursor: auto;
    width: 380px;
    height: 320px;
    bottom: 5em;
    right: 30px;
    overflow: hidden;
    background: white;
    transition: 0.4s ease-in-out, 0.3s ease-in;
    opacity: 0;
    cursor: none;
    pointer-events: none;
    border-radius: 0.5em;
}

.content-contact {
    margin: 0px;
    cursor: pointer;
    width: 100%;
    padding: 10px;
}

.box-content {
    width: 100%;
    height: 90px;
    background-color: rgb(56, 182, 17);
}

.box-contact {
    display: flex;
    gap: 15px;
    background: #72727213;
    padding: 10px;
    opacity: 80%;
    transition: 0.4s ease-in-out, 0.3s ease-in;
    border-radius: 0.5em;
}

.box-contact:hover {
    opacity: 100%;
    background: #fff;
    box-shadow: #8181811f 0px 10px 30px;
}

.content-shape.moved {
    transform: translateY(-50px);
    opacity: 1;
    cursor: auto;
    pointer-events: all;
}