.container-about {
    margin: 50px auto;
    padding: 30px;
    justify-content: center;
    text-align: center;
    width: 90%;

}

.back-about {
    background: linear-gradient(to top,
            rgba(252, 252, 252, 0.9) 0%,
            rgba(252, 252, 252, 0.9) 30%,
            rgba(209, 240, 255, 0.24) 60%,
            rgba(252, 252, 252, 0.6) 100%);
    padding: 3px;
    margin: 0;
}

.content-about {
    justify-content: center;
    text-align: center;
    justify-content: center;
    align-self: center;
    width: 100%;
    line-height: 30px;

    & p {
        text-align: center;
        font-size: 18px;
    }

}

.container-col {
    flex-direction: column;
    flex: 1;
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 10em auto;
}

.content-image {
    & img {
        border-radius: 1.5em;
        height: 20em;
        margin-top: 12em;
    }
}

.content-resume {
    display: flex;
    margin-top: 5em;
    gap: 20px;
    cursor: default;
}

.box-resume {
    box-shadow: #0000001c 0px 7px 10px;
    width: 50%;
    padding: 50px;
    border-radius: 1em;
    transition: transform 500ms ease, 500ms ease;
}

.box-resume:hover {
    transform: translateY(-10px);
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
    background-image: linear-gradient(to right, #ffffff49, #c8e6ff34);
    transition: ease-in 500ms ease-in-out 100ms;
}

.title-about {
    font-size: 3rem;
    font-weight: 800;
    line-height: 1.1;
    margin-bottom: 25px;
}

.static-content {
    margin-top: 10px;
    font-size: 25px;
    font-weight: 800;
}

.label-content {
    text-transform: uppercase;
    color: var(--button-primary);
    font-weight: 600;
}