.btnBase {
  margin: 5px 0px;
  background: linear-gradient(90deg, #00b7ff 0%, #19c3e6 48%, #2195bf 100%);
  color: white;
  font-size: 12px;
  font-weight: 600;
  padding: 10px 40px;
  border: none;
  text-align: center;
  align-items: center;
  display: inline-flex;
  border-radius: 5em;
  cursor: pointer;
  text-align: center;
  transition: transform 0.3s ease;
  text-decoration: none;
  width: auto;
  box-shadow: 0.3px 0.3px 20px #00b7ff54;
}

.btnBase:hover {
  transform: scale(1.05);
}

@media (min-width: 768px) {
  .btnBase {
    padding: 15px 30px;
    font-size: 14px;
  }
}

@media (min-width: 1280px) {
  .btnBase {
    font-size: 16px;
  }
}