/* Mobile First */
header {
      flex-direction: column;
      display: flex;
      align-items: center;
      position: absolute;
      z-index: 9999;
      width: 100%;


      nav {
            background: rgba(0, 0, 0, 0.5);
            width: 100%;
            padding: 25px 0;
            display: flex;
            padding: 5px;
            align-items: center;
            color: #fff;
      }


      & ul {
            display: flex;
            text-align: center;
            font-size: 15px;
            list-style: none;
            cursor: pointer;
      }

      & li {
            opacity: 100%;
            font-size: 14px;

            & a {
                  text-decoration: none;
                  color: rgb(255, 255, 255);
            }
      }
}

.content-header {
      margin: 0 auto;
      display: flex;
      align-items: center;
      gap: 30px;

      & li {
            list-style: none;
      }
}

.shape-inc {
      margin: 0 auto;
      display: flex;
      align-items: center;

      & a {
            margin-left: 25px;
            font-size: 14px;
            font-weight: 500;
      }
}

.shape-contact {
      margin-left: 500px;

      & a {
            margin-right: 50px;
      }
}

.contact-shape {
      margin-right: 50px;
}

.menu {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 10px 20px;
      color: white;
      position: relative;
      width: 100%;
}

.dropdown {
      list-style: none;
      display: flex;
      gap: 0px;
}

.dropdown li a {
      color: white;
      text-decoration: none;
}

.contato {
      display: none;
      padding: 15px 30px;
      border-radius: 1em;
      font-size: 12px;
      font-weight: 700;
      color: white;
      height: 50px;
      background: #00b7ff;
      background: linear-gradient(90deg, rgba(0, 183, 255, 1) 0%, rgba(25, 195, 230, 1) 48%, rgba(33, 149, 191, 1) 100%);
}

.menu-toggle {
      font-size: 26px;
      cursor: pointer;
      display: block;
}

.menu .dropdown {
      all: unset;
      text-align: center;
      list-style: none;
      background-color: #2e2e2e;
      padding: 0px;
      position: absolute;
      right: 55px;
      top: 85px;
      width: 75%;
      margin: 0 auto;
      justify-content: center;
      z-index: 100;
      display: flex;
      flex-direction: column;
}

.menu .dropdown li {
      padding: 15px;
}

.menu .dropdown li:active {
      background: rgb(15, 179, 201);
      transition: 0 all;
}

/* Dispositivo P */
@media (min-width: 320px) {
      .menu {
            gap: 0px;
      }

      .img-neve {
            height: 30px;
      }

      .menu-contact {
            display: none;
      }

      .shape-inc {
            margin: 0;

            & a {
                  margin-right: 0px !important;
                  font-weight: 700 !important;
            }
      }

      
      .menu .dropdown {
            all: unset;
            text-align: center;
            list-style: none;
            background-color: #2e2e2e;
            padding: 0px;
            position: absolute;
            right: 37px;
            font-size: 10px !important;
            top: 75px;
            width: 75%;
            margin: 0 auto;
            justify-content: center;
            z-index: 100;
            display: flex;
            flex-direction: column;
      }

      & li a {
            font-size: 12px !important;
      }
}

/* Dispositivo M */
@media (min-width: 375px) {
      .menu {
            gap: 0px;
      }

      .img-neve {
            height: 30px;
      }

      .menu-contact {
            display: none;
      }

      .shape-inc {
            margin: 0;

            & a {
                  margin-right: 0px !important;
                  font-weight: 700 !important;
            }
      }
}

/* Dispositivo G */
@media (min-width: 425px) {
      .menu {
            gap: 0px;
      }

      .img-neve {
            height: 30px;
      }

      .menu-contact {
            display: none;
      }

      .shape-inc {
            margin: 0;

            & a {
                  margin-right: 0px !important;
                  font-weight: 700 !important;
            }
      }
}

/* Tablet */
@media (min-width: 768px) {
      .menu {
            gap: 215px;
      }

      .menu .dropdown {
            all: unset;
            text-align: center;
            list-style: none;
            background-color: #2e2e2e;
            padding: 0px;
            position: absolute;
            right: 20px;
            top: 90px;
            width: 50%;
            margin: 0 auto;
            justify-content: center;
            z-index: 100;
            display: flex;
            flex-direction: column;
      }

}

/* Computador */
@media (min-width: 1280px) {
      .img-neve {
            height: 50px;
      }

      .shape-inc {
            align-items: center;
            margin-right: 0px;
            width: 100%;

            & a {
                  display: flex;
                  font-size: 18px;
                  font-weight: 700;
            }
      }

      .menu-toggle {
            display: none;
      }

      .barra-superior {
            background: rgba(0, 0, 0, 0.5);
            width: 100%;
            padding: 25px;
            display: flex;
            align-items: center;
            color: #fff;
            height: 85px;
            justify-content: space-between;
      }

      .content-header {
            display: flex;
            justify-content: space-between;
            gap: 35em;
      }
      
      .ul-barra {
            opacity: 85%;
      }
      
      .ul-barra:hover {
            opacity: 100%;
            transition: 500ms ease, box-shadow 500ms ease
      }
      
      .menu-contact {
            & a {
                  margin-right: 50px !important;
            }
      }

      .menu ul li a{
            font-size: 15px !important;  
      }
}