.content-slide {
    display: flex;
}

#marcas p {
    margin: 0 auto;
    text-align: center;
    width: 75%;
    font-size: 14px;
}

@media (min-width: 320px) {
    #marcas p {
        font-size: 14px;
    }
}

@media (min-width: 768px) {
    #marcas p {
        font-size: 17px;
    }
}

@media (min-width: 1280px) {
    #marcas p {
        font-size: 17px;
    }
}