.container-promo {
  max-width: 800px;
  margin: 40px auto;
  padding: 0 20px;
  align-items: left;
  display: flex;
  text-align: center;
  background: #00b7ff;
  background: linear-gradient(90deg, rgb(0, 143, 199) 0%, rgb(30, 185, 216) 48%, rgba(33, 149, 191, 1) 100%);

}

.text-promo {
  color: #000;
  padding: 15px;
  align-items: center;
  border-radius: 16px;
  text-align: center;
  font-size: 1.3rem;
  font-weight: 500;
  transition: transform 0.3s ease;
  color: #fff;
}

.swiper-promo {
  display: flex;
  align-items: center;
  justify-content: center;
}

@media (min-width: 320px) {
  .text-promo {
    color: #000;
    padding: 15px;
    align-items: center;
    border-radius: 16px;
    text-align: center;
    font-size: 0.9rem !important;
    font-weight: 500;
    transition: transform 0.3s ease;
    color: #fff;
  }

  .swiper-promo div img {
    height: 65px;
  }
}

@media (min-width: 375px) {
  .text-promo {
    color: #000;
    padding: 15px;
    align-items: center;
    border-radius: 16px;
    text-align: center;
    font-size: 1rem !important;
    font-weight: 500;
    transition: transform 0.3s ease;
    color: #fff;
  }
}

@media (min-width: 768px) {
  .container-promo {
    border-radius: 5em;
  }
}

@media (min-width: 1280px) {
  .text-promo {
    color: #000;
    padding: 35px;
    align-items: center;
    border-radius: 16px;
    text-align: center;
    font-size: 1.4rem !important;
    font-weight: 500;
    transition: transform 0.3s ease;
    color: #fff;
  }
}