.servicos {
    background: #3f3f3f;
}

.container {
    padding: 15px;
    color: white;
    
    & p {
        font-size: 18px;
        text-align: left;
        max-width: 75%;
        margin-right: 50px;
    }
}

@media (min-width: 375px) {
    .container .content h2 {
        font-size: 19px !important;
    }
}

@media (min-width: 1280px) {
    #title-defs-content {
        font-size: 25px !important;
    }
}