@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Ubuntu+Sans:ital,wght@0,100..800;1,100..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Outfit:wght@100..900&family=Ubuntu+Sans:ital,wght@0,100..800;1,100..800&display=swap');


@import "tailwindcss";

:root {
  /* Cores */
  --button-primary: #0EA5E9;
  --text-primary: #1E3A8A;
  --text-secondary: #64748B;
  --background-primary: #f8fafc75;
  --background-secondary: #E0F2FE;

  /* Gradiente */
  --blue-gradient: linear-gradient(90deg, rgba(14, 165, 233, 1) 0%, rgba(30, 58, 138, 1) 100%);

  /* Fontes */
  --font-primary: "Inter", sans-serif;
  --font-secondary: "Ubuntu Sans", sans-serif;

  --font-weight-regular: 400;
  --font-weight-bold: 700;


}

* {
  box-sizing: border-box;
}

h1 {
  font-style: var(--font-primary);
  padding: 0;
  margin: 0;
}

body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  font-size: 16px;
  font-family: var(--font-secondary);
  font-weight: 300;
  font-style: normal;
}

html, body {
  max-width: 100vw;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

.btn-reservar:hover {
  opacity: 100%;
  transition: all 500ms;
}

.container {
  margin: 0 auto;
  justify-content: center;
  text-align: center;
  max-width: 90%;
}